<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/event.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script th:src="@{/js/event.js}" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body data-spy="scroll" data-target="#site-nav">

<div th:insert="~{header :: header_fragment}"></div>

<header id="site-header" class="site-header valign-center">
    <div class="intro">

        <h2 th:text="${event.date.day + ' ' + event.date.month + ', ' + event.date.year + ' / ' + event.location}">25 April, 2015 / Townhall California</h2>

        <h1 th:text="${event.name}"></h1>

        <p th:text="${event.description}"></p>

        <a class="btn btn-white" data-scroll href="#registration">Register Now</a>

    </div>
</header>

<section id="about" class="section about" th:if="${event.detail != null} and ${event.objectif != null}">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" th:if="${event.detail != null}">

                <h3 class="section-title">Détail de l'évennement</h3>

                <p th:text="${event.detail}"></p>

            </div>

            <div class="col-sm-6" th:if="${event.objectif != null}">

                <h3 class="section-title multiple-title">Quels sont nos objectifs ?</h3>

                <p th:text="${event.objectif.description}"></p>

                <ul class="list-arrow-right">
                    <th:block th:each="objectif : ${event.objectif.important}">
                        <li th:text="${objectif}"></li>
                    </th:block>
                </ul>

            </div>
        </div>
    </div>
</section>

<section id="facts" class="section bg-image-1 facts text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

                <i class="ion-ios-calendar"></i>
                <h3 th:text="${event.date.year}"></h3>
                <h3 th:text="${event.date.day + ' ' + event.date.month}"></h3>

            </div>
            <div class="col-sm-3">

                <i class="ion-ios-location"></i>
                <h3 th:text="${event.location}"></h3>

            </div>
            <div class="col-sm-3">

                <i class="ion-pricetags"></i>
                <h3>Places disponibles :</h3>
                <h3 th:if="${event.numberOfPlaces != null}" th:text="${event.numberOfPlaces}"></h3>
                <h3 th:if="${event.numberOfPlaces == null}">Illimité</h3>

            </div>
            <div class="col-sm-3">

                <i class="ion-speakerphone"></i>
                <h3>06<br>Speakers</h3>

            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>

<section id="speakers" class="section speakers" th:if="${event.guestList != null}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3 class="section-title">Invités</h3>

            </div>
        </div>

        <div class="row">

            <th:block th:each="guest : ${event.guestList}">
            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-1.jpg">
                    </figure>

                    <h4 th:text="${guest.firstname + ' ' + guest.lastname}"></h4>

                    <p th:text="${guest.jobs}"></p>

                    <ul class="social-block">
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                        <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                    </ul>

                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->
            </th:block>
        </div>
    </div>
</section>

<section id="registration" class="section registration">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Registration &amp; Pricing</h3>
            </div>
        </div>

        <form action="#" id="registration-form">
            <div class="row">
                <div class="col-md-12" id="registration-msg" style="display:none;">
                    <div class="alert"></div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name" id="fname" name="fname" required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name" id="lname" name="lname" required>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone" id="cell" name="cell" required>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Address" id="address" name="address" required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Zip Code" id="zip" name="zip" required>
                    </div>

                    <div class="form-group">
                        <select class="form-control" name="city" id="city" required>
                            <option readonly>City</option>
                            <option>City Name 1</option>
                            <option>City Name 2</option>
                            <option>City Name 3</option>
                            <option>City Name 4</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" name="program" id="program" required>
                            <option readonly>Select Your Program</option>
                            <option>Program Name 1</option>
                            <option>Program Name 2</option>
                            <option>Program Name 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="text-center mt20">
                <button type="submit" class="btn btn-black" id="registration-submit-btn">Submit</button>
            </div>
        </form>
    </div>
</section>

<section id="schedule" class="section schedule" th:if="${event.schedule != null}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Programme de l'évenement</h3>
            </div>
        </div>
        <div class="row">
            <th:block th:each="scheduleEvent : ${event.schedule}">
            <div class="col-md-4 col-sm-6">
                <div class="schedule-box">
                    <div class="time">
                        <time th:text="${scheduleEvent.startTime}"></time> - <time th:text="${scheduleEvent.endTime}"></time>
                    </div>
                    <h3 th:text="${scheduleEvent.title}"></h3>
                    <p th:text="${scheduleEvent.location}"></p>
                </div>
            </div>
            </th:block>
        </div>
</section>

<section id="partner" class="section partner" th:if="${event.partners != null}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3 class="section-title">Partenaires</h3>

            </div>
        </div>

        <div class="row">

            <th:block th:each="partner : ${event.partners}">
                <div class="col-md-4">
                    <div class="speaker">

                        <figure>
                            <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-1.jpg">
                        </figure>

                        <h4 th:text="${partner.name}"></h4>

                    </div><!-- /.speaker -->
                </div><!-- /.col-md-4 -->
            </th:block>
        </div>
    </div>
</section>

<section id="faq" class="section faq" th:if="${event.faqs != null}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Event FAQs</h3>
            </div>
        </div>
    </div>
</section>

<section id="photos" class="section photos" th:if="${event.photos != null}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Photos</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="grid">
                    <th:block th:each="photo : ${event.photos}">
                        <li class="grid-item grid-item-sm-6">
                            <img alt="" class="img-responsive center-block" th:src="@{${'/img/' + photo + '.png'}}">
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="location" class="section location">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3 class="section-title">Event Location</h3>
                <address>
                    <p>Eardenia<br> The Grand Hall<br> House # 08, Road #52, Street<br> Phone: +1159t3764<br> Email: example@mail.com</p>
                </address>
            </div>
            <div class="col-sm-9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96706.50013548559!2d-78.9870674333782!3d40.76030630398601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sbd!4v1436299406518" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<!-- script -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
<script src="assets/js/main.js"></script>
</body>




</body>
</html>